@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
}

<div class="wrapper bgded custom-background-image" style="background-image:url('/media/1001/4835862-ksiazki-900-599.jpg');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
            <div class="overlay inspace-30 btmspace-30">
                <h2 class="heading">Phasellus elementum sem</h2>
                <p>Eget euismod dui ultricies eget nec ornare enim vivamus volutpat vehicula massa quis ut euismod eget orci ac molestie integer porttitor laoreet vestibulum sed id metus hendrerit euismod.</p>
            </div>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Vestibulum</a></li>
                    <li><a class="btn inverse" href="#">Aliquam</a></li>
                </ul>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <article class="center">
            <footer>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
