@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
}
<div class="contaier">
    <div class="container">
        <div class="row">
            <div style="margin-top:300px"class="col-lg-2">
                <h1><font face="Courier" color="white"><b>Od zera do...developera</b></font></h1>
            </div>
            <div class="col-lg-6 col-lg-offset-4">
                <a href="#">
                    <div class="well">
                        <h2 class="text-center">Article title</h2>
                        <p class="text-center">Article short content</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>