@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Od zera do developera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all">
   
</head>
<body class="">
  

            @*można zrobić coś zamiasy newslettera, to: "Powiadom mnie o nowym artykule" i wspisuje się swojego maila i za każdym nowym
            artykułem leci email*@

    @Html.Partial("~/Views/Partials/Main/Menu.cshtml")


    



      @RenderBody()
    @Html.Partial("~/Views/Partials/Main/Footer.cshtml")




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <!-- JAVASCRIPTS -->

    <!-- / IE9 Placeholder Support -->
</body>
</html>

