
@{
    ViewBag.Title = "Footer";
}
<div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="navbar-form" role="textbox">
                <h2><font color="white">Chcesz być na bieżąco z blogiem?</font></h2>
                <h5><font color="white">Wpisz swój adres e-mail, a będziesz dostawał powiadomienie o każdym nowym wpisie.</font></h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Wpisz adres e-mail" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Wyślij</button>
                    </span>
                </div>
            </form>
        </div>
</div>